*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.abcd{
    display: flex;
    justify-content: space-around;
    width: 600px;
    position: absolute;
    left: 800px;
    top: 10px;
    font-weight: bold;
}
.find{
    display: flex;
    justify-content: space-around;
    width: 100px;
}
.love{
    display: flex;
    justify-content: space-around;
    width: 170px;
}
.Vietnam{
    display: flex;
    justify-content: space-around;
    width: 100px;
}
.logo{
    display: flex;
    justify-content: space-around;
    width:439px;
    align-items: center;
    position: absolute;
    top: 63px;
    font-size: 20px;
    font-weight: bold;
}
.content_1{
    display: flex;
    position: relative;
    top: 200px;
}
.meo{
    width: 65%;
}
.uu_dai{
    background-color: red;
    width: 100%;
}
.chiet_khau{
    margin-left: 80px;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 80px;
    background-color: white;
    width: 70%;
    height: 150px;
    line-height: 75px;
    border-radius: 40px;
}
.cua_hang_truc_tuyen{
    margin-left: 110px;
    position: relative;
    top: 130px;
    font-weight: bold;
    font-size: 50px;
    color: aliceblue;
}
.giam_gia{
    margin-left:18px;
    position: relative;
    top: 200px;
    font-weight: bold;
    font-size: 45px;
    color: aliceblue;
}