* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.abcd {
    display: flex;
    justify-content: space-around;
    width: 700px;
    position: absolute;
    left: 750px;
    top: 10px;
    font-weight: bold;
    color: aliceblue;
}

.find {
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.love {
    display: flex;
    justify-content: space-around;
    width: 180px;
}

.Vietnam {
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.logo {
    display: flex;
    justify-content: space-around;
    width: 439px;
    align-items: center;
    position: absolute;
    top: 63px;
    font-size: 20px;
    font-weight: bold;
}
.content{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin-left: 200px;
}
.thao_tac{
    display: flex;
    justify-content: space-around;
}
.Hien_thi{
    width: 100%;
    height: 500px;
}
.footer {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.footer_2 {
    position: relative;
    top: 35px;
}

.footer_4 {
    position: relative;
    top: 35px;
    font-size: 30px;
}

.fb_ins_tw {
    display: flex;
    justify-content: space-around;
    width: 100px;
}
.content123{
    display: flex;
}
.p4{
    position: relative;
    left: 15px;
}
.p5{
    position: relative;
    left: 100px;
}
.p6{
    position: relative;
    left:160px;
}
